# ================= UNITY =================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

sysinfo.txt

# ================= FIREBASE =================
# ❗ KHÔNG ignore Assets/Firebase/

# Firebase config (TÙY CHỌN)
Assets/StreamingAssets/google-services.json
Assets/StreamingAssets/GoogleService-Info.plist

# ================= BUILD =================
*.apk
*.aab
*.unitypackage
